<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  
  <div class="row">
    <div class="col-md-6 col sm-8">
      <p class="lead">还未注册？ 请先<a href="/#register?page={{ vm.returnPage }}">注册</a>。</p>
      <form action="" ng-submit="vm.onSubmit()" role="alert"> 
        <div ng-show="vm.formError" role="alert" class="alert alert-danger">{{ vm.formError }}</div>
        <div class="form-group"><label for="email">电子邮件</label><input type="email" placeholder="Enter email" ng-model="vm.credentials.email" id="email" class="form-control"></div>
        <div class="form-group"><label for="password">密码</label><input type="password" placeholder="Password" ng-model="vm.credentials.password" class="form-control" id="password"></div>
        <button type="submit" class="btn btn-default">登录</button>
      </form>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>
